@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .shad-input {
    @apply border-none outline-none focus-visible:ring-0 focus-visible:ring-offset-0 !important;
  }
  .header {
    @apply text-[32px] font-bold md:text-[36px];
  }
  .container {
    @apply relative flex-1 overflow-y-auto px-[5%];
  }

  .sub-container {
    @apply mx-auto flex size-full flex-col py-10;
  }
  .textArea{
    @apply  placeholder:text-secondary-200 border-secondary-100 bg-white focus-visible:ring-0 focus-visible:ring-offset-0 !important;
  }

  .file-upload{
    @apply flex cursor-pointer  flex-col items-center justify-center gap-3 rounded-md border-[3px] border-dashed border-secondary-100 bg-white p-5
  }
  .input-phone input {
    @apply rounded-md px-3 text-sm border-0 focus:outline-none focus:border-none bg-white border-secondary-100 w-full !important;
  }

   /* =====  REACT DATE PICKER OVERRIDES */
   .date-picker {
    @apply overflow-hidden border-transparent w-full rounded-md px-3 outline-none !important;
  }
}


.react-datepicker-wrapper.date-picker {
  display: flex;
  align-items: center;
}

.react-datepicker,
.react-datepicker__time,
.react-datepicker__header,
.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker-time__header {
  background-color: #1a1d21 !important;
  border-color: white !important;
  color: #abb8c4 !important;
}

.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker-time__header {
  color: #ffffff !important;
}

.react-datepicker__triangle {
  fill: #1a1d21 !important;
  color: #1a1d21 !important;
  stroke: #1a1d21 !important;
}

.react-datepicker__time-list-item:hover {
  background-color: #363a3d !important;
}

.react-datepicker__input-container input {
  width: 100%;
  outline: none;
}

.react-datepicker__day--selected {
  background-color: #24ae7c !important;
  color: #ffffff !important;
  border-radius: 4px;
}

.react-datepicker__time-list-item--selected {
  background-color: #24ae7c !important;
}

.react-datepicker__time-container {
  border-left: 1px solid #363a3d !important;
}

.react-datepicker__time-list-item {
  display: flex !important;
  align-items: center !important;
}
